body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#73cde4 ,#2da0bd );
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

html {
    min-height: 100%;
}

h1{
    font-family: 'Concert One', "cursive";
    color: #f0fdff;
    font-size: 45px;
    text-align: center;
    margin-bottom: 0;
}

h2 {
    font-family: 'Concert One', "cursive";
    color: #dbf5ff;
    opacity: 0.65;
    text-align: center;
    font-size: 20px;
    margin-bottom: 45px;
}

h3 {
    font-family: 'Gluten', "cursive";
    color: #dff5f6;
    font-size: 35px;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Game result msg*/
.result {
    font-family: "Gluten", "Concert One", sans-serif;
    margin-bottom: 35px;
    color:rgb(220, 240, 243);
    font-size: x-large;
}

/*Score*/

.score-box {
    display: flex;
    flex-direction: column;
    color: rgb(219, 242, 248);
}

#player-tag, #computer-tag {
    display: flex;
    justify-content:center;
    flex-direction: row;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

button:hover {
    transform: scale(1.25) perspective(1px);
    transition: 150ms linear;
}

/*Score board*/

.score-board {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-style: double; 
   border-radius: 25px;
   width: 35%;
   height: auto;
   padding: 25px;
   font-family: "Concert One", "Gluten", "cursive";
   font-size: 25px;
   color:rgb(220, 240, 243);
   border-color: rgba(220, 240, 243, 0.74);
   background-color: #2da0bd;
}

#break {
    display: flex;
    flex-direction: row;
}

#tag {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    text-align: center;
}

.name-tag, #computer-score, #player-score {
    margin: 15px;
}

/*Modal*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: linear-gradient(#5aa1b369 ,#0a252bb6 );
    align-items: center;
    
}

.modal.on {
    display: flex;
}

.modal-content {
    background-image: linear-gradient(#92e6d1 ,#339eb9 );
    margin: 10% auto;
    padding: 15px;
    border-style: solid; 
    border-radius: 25px;
    border-width: 4px;
    text-align: center;
    border-color:rgb(213, 231, 233);
    height: auto;
    width: 350px;
    font-family: "Concert One", "Gluten", "cursive";
    font-size: 35px;
    color:rgb(220, 240, 243);
}

.modal-content, #end-result, #reset-btn {
    animation-name: zoom;
    animation-duration: 0.6s;
}

#end-result {
    padding-bottom: 15px;
    padding-top: 5px;
}

#reset-btn {
    border-radius: 25px;
    color:rgb(219, 242, 248);
    border:rgb(219, 242, 248);
    font-family: "Concert One", "Gluten", "cursive";
    font-size: 20px;
    padding-bottom: 25px;
    padding-top: 15px;
}

/*Footer*/

.bot {
    text-align: center;
    margin-top: 85px;
    margin-bottom: 0px;
    padding-bottom: 5px;
}

footer, #link, a:visited {
    text-decoration: none;
    font-family: "Concert One", "Gluten", "cursive";
    color:#54b2cc9c;
}

